<% layout('layouts/boilerplate.ejs') %>

<div class="showpage-container">
    <div class="user-profile">
        <div class="user-profile-row"><p><b>Name</b></p> <em><%= currUser.username %></em></div> <hr>
        <div class="user-profile-row"><p><b>Contact Details</b></p> <em><%= currUser.contact %></em></div> <hr>
    </div>
</div>